# BALERO CMS
#===========================================================
# AVISO!
# ES IMPORTANTE PROTEGER ESTE DIRECTORIO YA QUE ALMACENA 
# PASSWORDS (ENCRIPTADOS). UNA VEZ ALMACENADOS LOS PASSWORDS 
# ENCRIPTADOS ES DIFICIL TRAERLOS DE VUELTA A TEXTO PLANO, 
# SIN EMBARGO, CUIDAREMOS EL ACCESO A ESTE DIRECTORIO.
# NOTA: USTED PUEDE ALMACENAR PASSWORDS EN ESTE DIRECTORIO
# PERO NECESITARA ENCRIPTARLOS PREVIAMENTE.
#===========================================================

# DENEGAR ACCESO A ESTE DIRECTORIO
Order deny,allow
deny from all
